body {
    padding: 0; 
    margin: 0;
    font-family: 'Catamaran', Arial, sans-serif
}
nav {
    background-color: #F6F4F4;
    height: 75px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

nav.expand {
    height: 132px;
    transition: height 0.5s ease-in 0.3s; 
}

#nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links-hidden {
    margin-top: 5px;
    padding: 0;
    text-align: center;
}

#nav-links-hidden > a {
    display: block;
    padding: 0;
    margin: 5px 45%;
}
h1 {
    font-size: 1.25rem; 
}

h2 {
    font-size: 0.95rem; 
}

#nav-links > a {
    padding-left: 80px;
}

a {
    color: #787878;
    text-decoration: none;
}

a:hover {
    color:#b4b4b4; 
    text-decoration:none; 
    cursor:pointer;  
}

#home_img {
    width: 90%;
    object-fit: cover;
    margin: 5% 5% 0 5%;
}

.content {
    text-align: justify;
    width: 90%;
    margin: 0 5% 0 5%;
}

#home_body > h1 {
    margin: 0; 
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    min-height: 325px;
    margin: 8% 5% 0 5%; 
}

footer > div {
    width: 24%; 
    border-radius: 6px 6px 0px 0px;
    background: #404040;
}

footer > div > h2 {
    text-align: center;
    color: #F6F4F4; 
    padding: 0 5% 0 5%;
}

@media only screen and (max-width: 600px) {
    #nav-links {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .line {
        height: 4px;
        width: 35px;
        margin-top: 3px;
        border-radius: 2px;
        background-color: #404040;
    }
    footer > div > a, footer > div > p {
        width: 90%;
        margin: 0;
        word-wrap: break-word;
        font-size: 0.7rem;
        padding: 0 5% 0 5%;
        display: block;
        text-align: center;
        color: #F6F4F4; 
        padding: 0 5% 0 5%;
    }
}

@media only screen and (min-width: 601px) {
    #hamburger {
        display: none;
    }

    #nav-links-hidden {
        display: none;
    }

    footer > div > a, footer > div > p {
        width: 90%;
        margin: 0;
        word-wrap: break-word;
        font-size: 0.9rem;
        padding: 0 5% 0 5%;
        display: block;
        text-align: center;
        color: #F6F4F4; 
        padding: 0 5% 0 5%;
    }
}

#youtube {
    width: 90%;
    height: 600px;
    margin: 5% 5% 0 5%;
}